.Test {
	color: whitesmoke;
	background-color: red;
}
/* CLASS指定 */
.output {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

a {
	color: black;
	text-decoration: none;
}

.A_delete {
	color: red;
	text-decoration: none;
}
/* ID指定 */
#logout {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 6px 40px;
}

.sticky {
	/* color: red;
	background-color: blue; */
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 6px 40px;
}

fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
}
